<div class="">
  <div class="row">
    <div class="card col-sm">
      <div class="card-body">
        <h5 class="card-title text-center"><%= DateTime.now.strftime('%a, %d %b %Y') %></h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">Total Clocking Today: <%= @total_time %></h6>
      </div>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="card col-sm">
      <div class="card-body">
        <% if !@time_entries.blank? && @time_entries.last.clock_out.nil? %>
          <button type="button" class="clock-modal card-title btn btn-danger" >
            <a href="/clock_out">Clock Out</a>
          </button>
          <% else %>
            <button type="button" class="clock-modal card-title btn btn-primary" >
              <a href="/clock_in">Clock In</a>
            </button>
          <% end  %>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Time In</th>
        <th scope="col">Time Out</th>
        <th scope="col">Time Spent</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% unless @time_entries.empty? %>
      <% @time_entries.each do |time_entry| %>
        <tr>
          <td scope="row"><%= time_entry[:created_at].strftime('%H:%M %p') %></td>
          <% if time_entry[:clock_out].nil?  %>
            <td></td>
          <% else %>
            <td><%= time_entry[:clock_out].strftime('%H:%M %p') %></td>
          <%end %>
          <td><%= time_entry.time_on_stop %></td>
          <% if time_entry[:clock_out].nil? %>
            <td><button type="button" class="btn btn-primary" disabled>Edit</button></td>
            <% else %>
              <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-time-entry" data-remote="<%= edit_time_entry_path(time_entry) %>" >
                  Edit
                </button>

                <!-- Modal -->
                <div class="modal fade" id="edit-time-entry" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= render partial: "edit", locals: {time_entry: time_entry} %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            <% end %>
        </tr>
      <% end %>
    <% end  %>
    </tbody>
  </table>
</div>
