<div class="">
  <div class="row">
    <div class="card col-sm">
      <div class="card-body">
        <h5 class="card-title text-center"><%= DateTime.now.strftime('%a, %d %b %Y') %></h5>
        <%
=begin%>
 <h6 class="card-subtitle mb-2 text-muted text-center">Total Clocking Today: <%= @total_time %></h6>
<%
=end%>
      </div>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="card col-sm">
      <div class="card-body">
        <% if @time_entries.any? && @time_entries.order(:id).last.clock_out.nil? %>
          <button type="button" class="clock-modal card-title btn btn-danger" >
            <a href="/clock_out">Clock Out</a>
          </button>
          <% else %>
            <button type="button" class="clock-modal card-title btn btn-primary" >
              <a href="/clock_in" class="clock-in">Clock In</a>
            </button>
          <% end  %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="accordion" id="calendar-table">
      <%= week_calendar do |date| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-<%= date %>">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= date %>" aria-expanded="true" aria-controls="collapse-<%= date %>">
              <%= date %> | <%= total_entries_time(@time_entries.entries_by_day(date.to_s)) %>
            </button>
          </h2>
          <div id="collapse-<%= date %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= date %>" data-bs-parent="#calendar-table">
            <div class="accordion-body">
              <% unless @time_entries.entries_by_day(date.to_s).empty? %>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Time In</th>
                      <th scope="col">Time Out</th>
                      <th scope="col">Time Spent</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @time_entries.entries_by_day(date.to_s).each do |time_entry| %>
                      <tr id="row-id">
                        <td scope="row"><%= time_entry[:created_at].strftime('%H:%M %p') %></td>
                        <% if time_entry[:clock_out].nil?  %>
                          <td></td>
                        <% else %>
                          <td><%= time_entry[:clock_out].strftime('%H:%M %p') %></td>
                        <%end %>
                        <td class="time-spent"><%= time_entry.time_on_stop %></td>
                        <% if time_entry[:clock_out].nil? %>
                          <td><button type="button" class="btn btn-primary" disabled>Edit</button></td>
                        <% else %>
                          <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-time-entry" data-remote="<%= edit_time_entry_path(time_entry) %>" >
                              Edit
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="edit-time-entry" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <%= render partial: "edit", locals: {time_entry: time_entry} %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
